
<title></title>
<style type="text/css">
* { margin:0px; padding:0px;}
body { font-family:"Trebuchet MS"; font-size:12px; text-align:center;}
a { text-decoration:none;}
h3{text-align:center;}
img { border:none;display: block;margin-left: auto;margin-right: auto;}
div.mobile_wrapper { width:667px; margin:0 auto; border:1px solid #F2F2F2; margin-top:10px; overflow:hidden;}
div.mobile_list { width:210px; border:1px solid #F5F5F5; margin:5px; float:left;}
div.links { margin:5px 0 5px;}
div.links a { color:#0066FF; margin-right:10px;}
p.price { color:#006ce5; margin:2px 0 2px; font-weight:bold;text-align:center;}
</style>
</head>



<div class="mobile_wrapper">

     <div id="mobile_product">
     
     <%=render:partial=>"products"%>
     
     </div>
     
</div>

 