
				<div class="mobile_list">
							<h3><%=@product.p_name %></h3> 
							<a href= "<%=@product.paper.url%>"><img src="<%=@product.paper.url%>"   /></a>
							<p class="price">Rs.<%=@product.our_price %></p>
					<div class="links">
							<a href="">&raquo; Specification</a>
							<a href="">&raquo; Review</a>
							<a href="">&raquo; buy</a>
								
       	</div>



				

		
		
		
