<tr> 
    <td height="20" bgcolor="#7C7449" valign="middle" align="center" class="footer">Copyright 
      &copy; www.YourSiteName.com. All Rights Reserved. Designed by <a href="http://www.onlinemobilestore.com/" target="_blank"><span  class="footer">Onlinemobilestore.com</span></a> 
    </td>
  </tr>