<tr> 

          <td valign="middle" align="center" width="70%"><h2>ONLINEMOBILESTORE</h2></td>
     <td valign="left">     
	 	<% if current_user && !current_admin%>
	  <h3> Welcome <%=current_user.name%></h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
		<%end%></td>
		
	   </tr>