<html>
<head>
<!-- #BeginEditable "doctitle" -->
<title>Free Dreamweaver Template 10 - Designed by www.entheosweb.om</title>
<!-- #EndEditable -->
<meta http-equiv="Content-Type" content="text/html;">
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
	
	<SCRIPT language=JavaScript>
	
	</SCRIPT>
	<link rel="stylesheet" href="../styles.css" type="text/css">
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
  <tr> 
    <td height="180" valign="top" background="../images/headerfill.jpg"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
        <tr> 
          <td valign="middle" align="center" width="70%"><img name="companyname" src="../images/companyname.jpg" width="174" height="26" border="0"></td>
          <td valign="top" align="right" width="453"><img name="graphic" src="../images/graphic.jpg" width="453" height="180" border="0"></td>
        </tr>
      </table>
    </td>
  </tr>
<tr> 
    <td valign="top"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="25" height="100%">
        <tr> 
          <td valign="top" class="text" height="355"><!-- #BeginEditable "content" --><%=yield%><!-- #EndEditable --></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td height="20" bgcolor="#7C7449" valign="middle" align="center" class="footer">Copyright 
      &copy; www.YourSiteName.com. All Rights Reserved. Designed by <a href="http://www.entheosweb.com/" target="_blank"><span  class="footer">Entheosweb.com</span></a> 
    </td>
  </tr>
</table>
</body>
</html>